body {
    margin: 0 auto;
    text-align: center;
    min-width: 1200px;
    font-size: 40px;
    p {
        margin: 0 auto;
    }
}
.color_white {
    color: #FFF;
}
.hero {
    background-image: url("images/hero_image.jpg");
    background-size: cover;
    h1 {
        padding-top: 2em;
        font-size: 1.5em;
        @extend .color_white;
    }
    p {
        padding-bottom: 2em;
        font-size: 1em;
        @extend .color_white;
    }
}
.about {
    background-image: url("images/about_background.jpg");
    background-size: cover;
    .ahout_desc {
        padding: 4em;
        @extend .color_white;
    }
}
.shows {
  margin: 0 auto;
  padding: 0px;
  .moment {
    float: left;
      width: 25%;
      display: inline-block;
      list-style-type: none;
      box-sizing: border-box;
  }
}
