*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
body {
    text-align: center;
    font-size: 40px;
    max-width: 1800px;
    margin: 1em auto;
    p {
        margin: 0 auto;
    }
}
.section_style {
    padding-bottom: 2em;
}
.color_white {
    color: #FFF;
}
.section_title {
    font-size: 2em;
    margin: 1em;
    //@extend .color_white;
}
.hero {
    background-image: url("images/hero_image.jpg");
    background-size: cover;
    h1 {
        padding-top: 2em;
        font-size: 2em;
        @extend .color_white;
    }
    p {
        padding-bottom: 2em;
        font-size: 1em;
        @extend .color_white;
    }
}
.about {
    margin-top: 1em;
    .ahout_desc {
        padding: 2em 4em;
    }
}
.shows {
    border-bottom: 1px solid #A5AAAF;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    .moment {
        float: left;
        width: 25%;
        display: inline-block;
        box-sizing: border-box;
        background-size: cover;
        margin-right: 0.5em;
        .show_title {
            font-size: 2em;
            @extend .color_white;
            padding-top: 0.3em;
        }
        .show_desc {
            font-size: 0.6em;
            @extend .color_white;
            padding: 2em 1em;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .share_bgImage {
        background-image: url("images/pic_share.jpg");
    }
    .learn_bgImage {
        background-image: url("images/pic_learning.jpg");
    }
    .communicat_bgImage {
        background-image: url("images/pic_communication.jpg");
    }
    .growth_bgImage {
        background-image: url("images/pic_growth.jpg");
    }
}
.activities {
    border-bottom: 1px solid #A5AAAF;
    margin: auto;
    // width: 80%;
    text-align: center;
}
.contact {
    .contacts {
        width: 50%;
        //background-image: url("images/about_background.jpg");
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        .contact_item {
            list-style-type: none;
            float: left;
            display: inline-block;
        }
    }
}
// @media screen (max-width:600px){
//   body {
//     font-size: 20px;
//   }
//   .show .moment {
//     width: 50%;
//   }
// }
